name: auto-commit

on:
  workflow_dispatch:
  schedule:
    - cron: "*/2 * * * *"

permissions:
  contents: write

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Change
        run: echo "$(date)" >> auto-file.txt

      - name: Commit
        run: |
          git config --global user.name "Ankit"
          git config --global user.email "ankitkumar823089@gmail.com"
          git add .
          git commit -m "auto commit" || exit 0
          git push
